 <div class="user-details">
  <h1> Hello! </h1>
  <p> {{site.user_description}} </p>
  <a class="project-link" target="_blank" href="https://drive.google.com/file/d/1hmPGL_ZsAVInvYcCf0_gkxN8rIb_Rnbz/view?usp=sharing">My Resume</a>
</div>
  <div class="user">
    <div class="tech">
      <h2>Interests</h2>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>Within the CS industry, I am mainly interested in software development, machine learning, app development and always willing to learn more!</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>I am experienced in various programming languages, including C++, Python, Java, C, C#, and JavaScript.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>I've used many types of tools, frameworks, and software such as Git, Vim, Angular, React Native, Firebase, Visual Studio, and IntelliJ.</p>
    </div>
</div>
