 <div class="user-details">
  <h1> Hello! </h1>
  <p> {{site.user_description}} </p>
  <a class="project-link" target="_blank" href="https://drive.google.com/file/d/1hmPGL_ZsAVInvYcCf0_gkxN8rIb_Rnbz/view?usp=sharing">My Resume</a>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I am experienced in various programming languages, including C++, Python, Java, C, C#, and JavaScript.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>I've used many types of tools and software for my classes and during internships, such as Git, Angular, Firebase, and Visual Studio.</p>
    </div>
    <div class="tech">
      <h2>Interests</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Within the CS industry, I am mainly interested in software development, machine learning, app development and always willing to learn more!</p>
    </div>
</div>
