<div class="user-details">
  <h1> My Experience </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/nikelogo2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Incoming Global Tech Intern | Nike </h3>
    <p>For Summer 2020, I will be an intern for Nike in Global Technology.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/data.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Software Engineering Intern | SDGE </h3>
    <p>Skills | JavaScript, C#, SQL, Angular, Power BI</p>
    <p>Teams | Meter Data Systems, Enterprise Analytics</p>
    <p>For Summer 2018 & 2019, I was an Intern for San Diego Gas & Electric. 
      In my first summer, I developed a dashboard to visualize data from SDGE's
      electric vehicle charging stations. During my second summer, I performed
      data analytics by creating a Power BI dashboard that's currently used to 
      analyze the efficiency of a business team's Permit Requests System. 
      Currently, I work on front-end development for the Meter Data Systems 
      team web applications.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
